*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    height: 130px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(158, 155, 155);
    padding: 0px 23px 0px 23px;
}
.left{
display: flex;

}
.search{
    
    position: relative;
}
.search .fa-magnifying-glass{
    position: absolute;
    color: #606770;
    font-size: 15px;
    top: 13px;
    left: 10px;
}
.search input{
    border: none;
    margin-left: 5px;
    padding: 7px 16px 9px 36px;
    font-size: 15px;
    height: 40px;
    transition: 0.7s ease;
}
.search input:focus{
    outline: none;
    padding-left: 23px;
    
}
.medle{
    font-size: 30px;
    border: rgb(32, 31, 31) solid 2px;
    color: #44484e;
    
}
.right a{
    color: #606770;
    padding: 0 5px;
    
}
.right a :hover{
    color: #000;
}


.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    
}
.nav select{
    border: none;
    font-size: 15px;
    padding: 0px 23px 0px 23px;

}
.nav a{
    text-decoration: none;
    color: #000;
    padding: 0px 12px 0px 12px;
    letter-spacing: 2PX;
    font-weight: bold;
}
.OPI{
    display: flex;
    letter-spacing: 1PX;
}
.nav a:hover{
    
    color: #742bd4;
}

.nav a:focus{
    color: #742bd4;
}
.HomeAbout{
    height: 55px;
    background-color: #e8e4ff8c;
    width: 100%;
}
.HomeAbout h1{
    align-items: center;
    padding-top: 18px;
    padding-left: 100px;
    font-size: 18px;
    
}
.HomeAbout .qaz{
    color: #742bd4;
}
.HomeAbout .tyu{
    color: #606770;
}
.big{
    background-color: #ffffff;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}
.ghj{
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}
.ghj h6{
    color: #9da0a5;
    font-size: 15px;
    padding-top: 20px;
}
.ghj span{
    color: #8611aa;
}

.ghj a{
    color: rgb(255, 255, 255);
    background-color: #8611aa;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 5%;
    transition: 0.7s ease;
    padding-top: 20px;
}
.ghj a:hover{
    transform: scale(1.1);
    background-color: #6d098b;
}

 .ghj h1{
    font-size: 40px;
    color: #000000;
    padding-top: 20px;
}

.ghj p{
    font-size: 15px;
    color: #44484e;
    padding-top: 10px;
    width: 100%;
}

    .sale {
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        font-size: 20px;
        background-color: #ffffff;
        box-shadow: rgb(95, 94, 94) 0 1px 3px ;
    }
.theteam{
    height: 700px;
    
    
}
.theteam img{
    border-radius: 50%;
}
.pepole{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.part{
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0;
    
    
}
.part p{
    font-size: 15px;
    color: #585d63;
    padding: 3px;
}
.part h2{
    font-size: 20px;
    padding: 7px;
}
.part h4{
    font-size: 13px;
    color: #6e737a;
    padding: 3px;
}
.theteam h1{
    font-size: 25PX;
    font-weight: bold;
    
    
}
.pepol{
    align-items: center;
    padding: 100px;
}
.ditails2{
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgb(138, 137, 137) 0 1px 3px;
}
.ditails2 i{
    color: #6d098b;
    font-size:35px;
}
.ditails2 .head{
    display: flex;
    align-items: center;
    
}





.ditails2 h1{
    padding-left: 10px;
}

.ditails2 p{
    margin-top: 10px;
    margin-left: 50px;
    color: rgb(82, 79, 79);
}

.footer{
    height: 700px;
    width: 100%;
    padding: 20px;
}
.fst{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding: 10px;
    
}


.fst .promo h1{
    font-size: 30px;
    margin-top: 110px;
    padding: 10px;
    
}
.fst .promo{
    margin-bottom: 150px;
}
.fst .navigations{
    margin-bottom: 150px;
}
.fst .contact-info h1{
    font-size: 30px;
    padding: 10px;
    margin-top: 50px;
}
.fst .navigations h1{
    font-size: 30px;
    padding: 10px;
    margin-top: 50px;
}
.fst h4{
    color: #606770;
    padding: 5px;
    
}
.fst .olk{
    margin-bottom: 75px;
}
.fst .olk h4{
    color: #606770;
    padding: 5px;
}
.fst h6{
    position: relative;
    font-size: 15px;
}
.fst p{
    color: #606770;
    padding: 10px;
    
}

.perfect{
    color: #5e0779;
    font-size:20px ;
    padding: 10px;
    
}
.footer i{
    color: rgb(126, 14, 148);
    
    font-size: 22px;
    
    
    
}
.GPS {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    
}
.phone{
    display: flex;
    padding: 10px;
    
}
.email {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.email .asd{
    font-size: 13px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.coppy{
    font-size: 18px;
    color: rgb(117, 112, 112);
    height: 100px;
    margin-top: 100px;
}
span{
    color: #5e0779;
}
.coppy i{
    color: rgb(117, 112, 112);
    text-align: center;
}

.ghy a{
    color: rgb(255, 255, 255);
    background-color: #8611aa;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 5%;
    transition: 0.7s ease;
}
.uio{
    display: flex;
}

